root = true

[*.{cs,csx}]
# Disable collection-initializer simplification analyzers which trigger inside generated Razor temp files
dotnet_diagnostic.IDE0300.severity = none
dotnet_diagnostic.IDE0305.severity = none
# Disable deconstruction suggestion
dotnet_diagnostic.IDE0042.severity = none
# Disable collection initialization simplification suggestion
dotnet_diagnostic.IDE0028.severity = none
# Disable member name simplification suggestions for this workspace
dotnet_diagnostic.IDE0037.severity = none
