@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>PMS - @ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/png" href="~/img/title_logo.png" />
    <link rel="stylesheet" href="~/css/DashboardStyle.css" asp-append-version="true" />
    @RenderSection("Head", required: false)
</head>
<body>
    @await Html.PartialAsync("_DashboardHeader")

    <main role="main">
        @RenderBody()
    </main>

    @await Html.PartialAsync("_DashboardFooter")

    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>